<div role="navigation" class="navbar-default sidebar">
    <div class="sidebar-nav navbar-collapse">
        <ul id="side-menu" class="nav">
            <li>
                <a href="{{ path('contacts_index') }}" class="active">
                                    <span class="sidebar-item-icon fa-stack">
                                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                                        <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
                                    </span>
                    <span class="sidebar-item-title">Contacts</span>
                    <span class="sidebar-item-subtitle">View & manage contacts</span>
                </a>
            </li>
            <li>
                <a href="{{ path('contacts_add') }}" class="active">
                                    <span class="sidebar-item-icon fa-stack">
                                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                    <span class="sidebar-item-title">Create Contacts</span>
                    <span class="sidebar-item-subtitle">Create a new contact</span>
                </a>
            </li>
            <li>
                <a href="{{ path('contacts_bulk') }}" class="active">
                                    <span class="sidebar-item-icon fa-stack">
                                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                                        <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                                    </span>
                    <span class="sidebar-item-title">Bulk Contacts</span>
                    <span class="sidebar-item-subtitle">Upload contacts in bulk(.xls format)</span>
                </a>
            </li>
            <li>
                <a href="{{ path('contacts_designation_index') }}" class="active">
                                    <span class="sidebar-item-icon fa-stack">
                                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                                        <i class="fa fa-tag fa-stack-1x fa-inverse"></i>
                                    </span>
                    <span class="sidebar-item-title">Designations</span>
                    <span class="sidebar-item-subtitle">Manage contact designations</span>
                </a>
            </li>
            <li>
                <a href="{{ path('contacts_designation_add') }}" class="active">
                                    <span class="sidebar-item-icon fa-stack">
                                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                    <span class="sidebar-item-title">Create Designation</span>
                    <span class="sidebar-item-subtitle">Create new contact designation</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!--@menu-->